.card {
    width: calc(100% / 6);
    height: calc(100% /2);
    padding: 11px;
    padding-bottom: 20px;

    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: lighter;
        margin-top: 10px;
        color: white;
    }
    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        aspect-ratio: 1/1;
    }
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 10px;
}
h2 {
    background-color: blue;
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 30px;
    color: white;
    position: relative;
    bottom: 25px;
}
.load {
    text-align: center;
    button {
        background-color: blue;
        font-size: 14px;
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
        border: none;
        padding: 10px 45px;
        margin-bottom: 15px;
    }
}